@model Project.Models.Game

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeClubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeClubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayClubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayClubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeFinalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeFinalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayFinalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayFinalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeNumberOfTD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeNumberOfTD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayNumberOfTD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayNumberOfTD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
