@model Project.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeClubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeClubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayClubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayClubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeFinalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeFinalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayFinalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayFinalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeNumberOfTD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeNumberOfTD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayNumberOfTD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayNumberOfTD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
